.user-center-header {
  position: relative;
  height: 220px;
  padding: 40px 0;
  background-color: #313131;
  z-index: 1;
}
.user-center-header .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0 !important;
}
.user-center-header .blurr-bg {
  z-index: -1;
}
.user-center-header .user-avatar{
	position:relative;
	float: left;
	width: 66.67%;
	padding-left: 200px;
	
}
@media (max-width: 767px) {
  .user-center-header {
    padding: 45px 0;
  }
}
.user-center-header .container {
  position: relative;
  z-index: 1;
  padding: 0 70px;
}
@media (max-width: 1199px) {
  .user-center-header .container {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .user-center-header .container {
    padding: 0 10px;
  }
}
@media (max-width: 991px) {
  .user-center-header .user-avatar {
    width: 100%;
    float: none;
  }
}
@media (max-width: 767px) {
  .user-center-header .user-avatar {
    text-align: center;
    padding-left: 0;
  }

  .user-center-header .user-avatar .avatar-wrap {
    position: relative;
    margin-bottom: 10px;
    border: 3px solid rgba(255, 255, 255, 0.5);
  }
  .user-center-header .user-avatar .avatar-wrap .avatar-lg {
    width: 60px !important;
    height: 60px !important;
  }
  .user-center-header .user-avatar .avatar-wrap .icon-md {
    width: 20px;
    height: 20px;
    line-height: 15px;
  }
  .user-center-header .user-avatar .avatar-wrap .icon-md > i {
    font-size: 12px;
  }
}
.user-center-header .avatar-wrap {
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid #585560;
  border: 6px solid rgba(255, 255, 255, 0.5);
}
.user-center-header .name {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .user-center-header .name {
    font-size: 16px;
  }
}
.user-center-header .position {
  margin-bottom: 10px;
  color: #919191;
  color: rgba(255, 255, 255, 0.5);
}
.user-center-header .position > a {
  color: #919191;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.user-center-header .position > a:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.user-center-header .mates {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}
@media (max-width: 767px) {
  .user-center-header .mates {
    font-size: 16px;
  }
}
.user-center-header .user-about {
  float: left;
  width: 33.33%;
  padding: 15px 10px;
  background-color: #919191;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.user-center-header .user-about-content {
  height: 100px;
  overflow: hidden;
  line-height: 25px;
}
.icon-user-status {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 15px;
  text-align: center;
  border: 2px solid #fff;
  background: #e83d2c;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.icon-user-status > i {
  font-size: 12px;
  vertical-align: middle;
}
.icon-user-status > img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.icon-user-status.icon-md {
  width: 30px;
  height: 30px;
  line-height: 25px;
}
.icon-user-status.icon-md > i {
  font-size: 18px;
}
.es-icon-school:before { content: "\e64c"; }
.avatar-wrap {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.avatar-wrap .icon-user-status {
  position: absolute;
  bottom: 0;
  right: 0;
}
.es-wrap{
  padding-bottom: 10px;
}
.course-list .course-item {
  box-shadow: 0 2px 40px -24px rgba(0, 36, 100, 0.3);
  -webkit-box-shadow: 0 2px 40px -24px rgba(0, 36, 100, 0.3);
  -moz-box-shadow: 0 2px 40px -24px rgba(0, 36, 100, 0.3);
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
}

@media (min-width: 992px) {
  .course-list .course-item {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .course-list .course-item:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
@media (max-width: 767px) {
  .course-list .course-item {
    margin-bottom: 20px;
    margin-left: -5px;
    margin-right: -5px;
  }
}
.course-list .course-item.course-default {
  background-color: #f5f5f5;
  padding: 50px 20px 55px;
  border: 1px dashed #e1e1e1;
  color: #e1e1e1;
  text-align: center;
  font-size: 24px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.course-list .course-item.course-default:hover {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.course-list .course-item.course-default > i {
  font-size: 72px;
  display: inline-block;
  margin-bottom: 18px;
}
.course-list .course-item .course-img {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.course-list .course-item .course-img .tag-discount {
  position: absolute;
  right: 0;
  top: 0;
  width: 68px;
  height: 68px;
  background: url("../img/tag_discount.png");
  background-image: -webkit-image-set(url("../img/tag_discount.png") 1x, url("../img/tag_discount@2x.png") 2x);
}
.course-list .course-item .course-img .tag-discount.free {
  background: url("../img/tag_limitfree.png");
  background-image: -webkit-image-set(url("../img/tag_limitfree.png") 1x, url("../img/tag_limitfree@2x.png") 2x);
}
.course-list .course-item .course-img .img-responsive {
  width: 100%;
  padding-bottom: 10px;
  max-height: 220px;
}
@media (max-width: 767px) {
  .course-list .course-item .course-img .img-responsive {
    padding: 5px;
  }
}
.course-list .course-item .tags {
  position: absolute;
  top: 0;
  left: 10px;
}
.course-list .course-item .tags .tag-live,
.course-list .course-item .tags .tag-serialing,
.course-list .course-item .tags .tag-finished {
  display: inline-block;
  width: 40px;
  height: 50px;
}
.course-list .course-item .tags .tag-live {
  background: url("../img/tag_live.png") no-repeat;
  background-image: -webkit-image-set(url("../img/tag_live.png") 1x, url("../img/tag_live@2x.png") 2x);
}
.course-list .course-item .tags .tag-serialing {
  background: url("../img/tag_serialing.png") no-repeat;
  background-image: -webkit-image-set(url("../img/tag_serialing.png") 1x, url("../img/tag_serialing@2x.png") 2x);
}
.course-list .course-item .tags .tag-finished {
  background: url("../img/tag_finished.png") no-repeat;
  background-image: -webkit-image-set(url("../img/tag_finished.png") 1x, url("../img/tag_finished@2x.png") 2x);
}
.course-list .course-item .title {
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 0 10px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
@media (max-width: 767px) {
  .course-list .course-item .title {
    margin-top: 5px;
    padding: 0 5px;
  }
}
.course-list .course-item .metas {
  font-size: 12px;
  position: relative;
  padding: 10px;
  color: #666;
}
@media (max-width: 767px) {
  .course-list .course-item .metas {
    padding: 5px;
  }
}
.course-list .course-item .metas i {
  margin-right: 5px;
}
.course-list .course-item .metas .course-price-widget {
  float: right;
  margin-top: -10px;
}
.course-list .course-item .metas .price {
  color: #e83d2c;
  font-size: 24px;
  margin-right: 0;
}
.course-list .course-item .metas .free {
  color: #238312;
}
.course-list .course-item .metas .comment {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .course-list .course-item .metas .comment {
    display: none;
  }
}
.course-list .course-date {
  position: relative;
  padding: 20px 0;
  text-align: center;
  z-index: 1;
}
.course-list .course-date .date {
  margin-top: 20px;
  color: #919191;
}
.course-list .course-date:before {
  position: absolute;
  content: '';
  left: -10px;
  right: -10px;
  top: 40px;
  height: 1px;
  background-color: #e1e1e1;
  z-index: -1;
}
.course-list .course-date .btn-circle {
  z-index: 1;
  background: #e1e1e1;
  border: none;
  color: #fff;
  text-shadow: 0 1px 1px rgba(73, 73, 73, 0.21);
  -webkit-box-shadow: inset 0 0 4px rgba(113, 113, 113, 0.3);
  -moz-box-shadow: inset 0 0 4px rgba(113, 113, 113, 0.3);
  box-shadow: inset 0 0 4px rgba(113, 113, 113, 0.3);
}

.teacher-item {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  z-index: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e4ecf3;
}
@media (max-width: 767px) {
  .teacher-item {
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media (min-width: 992px) {
  .teacher-item {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .teacher-item:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
.teacher-item:hover .metas {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.teacher-item:hover .about {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.teacher-item .teacher-top {
  position: relative;
  z-index: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f5f8fa;
  padding: 20px 10px;
}
@media (max-width: 767px) {
  .teacher-item .teacher-top {
    padding: 10px;
  }
}
.teacher-item .avatar-lg {
  border: 4px solid #fff;
}
@media (max-width: 767px) {
  .teacher-item .avatar-lg {
    width: 80px !important;
    height: 80px !important;
  }
}
.teacher-item .title {
  height: 22px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
@media (max-width: 767px) {
  .teacher-item .title {
    margin-top: 10px;
  }
}

.user-center-header .user-avatar {
  position: relative;
  float: left;
  width: 66.67%;
  padding-left: 200px;
}
@media (max-width: 991px) {
  .user-center-header .user-avatar {
    width: 100%;
    float: none;
  }
}
@media (max-width: 767px) {
  .user-center-header .user-avatar {
    text-align: center;
    padding-left: 0;
  }
  .user-center-header .user-avatar .avatar-wrap {
    position: relative;
    margin-bottom: 10px;
    border: 3px solid rgba(255, 255, 255, 0.5);
  }
  .user-center-header .user-avatar .avatar-wrap .avatar-lg {
    width: 60px !important;
    height: 60px !important;
  }
  .user-center-header .user-avatar .avatar-wrap .icon-md {
    width: 20px;
    height: 20px;
    line-height: 15px;
  }
  .user-center-header .user-avatar .avatar-wrap .icon-md > i {
    font-size: 12px;
  }
}
.user-center-header .avatar-wrap {
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid #585560;
  border: 6px solid rgba(255, 255, 255, 0.5);
}
.user-center-header .name {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .user-center-header .name {
    font-size: 16px;
  }
}
.user-center-header .position {
  margin-bottom: 10px;
  color: #919191;
  color: rgba(255, 255, 255, 0.5);
}
.user-center-header .position > a {
  color: #919191;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.user-center-header .position > a:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.user-center-header .mates {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}
@media (max-width: 767px) {
  .user-center-header .mates {
    font-size: 16px;
  }
}
.user-center-header .user-about {
  float: left;
  width: 33.33%;
  padding: 15px 10px;
  background-color: #919191;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.user-center-header .user-about-content {
  height: 100px;
  overflow: hidden;
  line-height: 25px;
}
